header{
   background: linear-gradient(90deg, rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('caf2.jpg');
}
.menus li a{
    color: white;
}
.menus li a:hover{
     box-shadow: 1px 1px 1px 1px rgb(222, 233, 233);
     color: rgb(248, 248, 248);
     border: 1px solid black;
 
 }

 .ico-contact-mail{
    color: white;
 }
 .ico-contact-mail p{
    color: white;
 }
 i .fa-sharp fa-solid fa-paper-plane fa-lg{
    color: white;
 }

/*debut du slider*/
 .slide-container{
   top: -50px;
   left: -10px;
   width: 100%;
   height: 45vh;
   display: flex;
   align-items: center;
   overflow: hidden;
   position: relative;

}
.image_slider{
   
   width: 100%;
   height: 380px;
   position: absolute;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .7s;
   top: -30px;
}
.slides-div{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 2px 0 30px;
}
.img{
   position: relative;
   width: 150px;
   height: 150px;
   transition: .5s;
   filter: saturate(5%);
   border: none;
   
}
.button{
   position: absolute;
   width: 200px;
   height: 300px;
   transition: .5s;
   background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), .4);
   border: none;

}
.button:hover{
   background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), .4);
}

#slider-span1:target ~ .image_slider #img1,
#slider-span1:target ~ .image_slider #button-1{
   width: 270px;
   height: 320px;
   background-color: transparent;
   filter: saturate(100%);
}

#slider-span2:target ~ .image_slider #img2,
#slider-span2:target ~ .image_slider #button-2{
   width: 270px;
   height: 320px;
   background-color: transparent;
   filter: saturate(100%);
}

#slider-span3:target ~ .image_slider #img3,
#slider-span3:target ~ .image_slider #button-3{
   width: 270px;
   height: 320px;
   background-color: transparent;
   filter: saturate(100%);
}
#slider-span4:target ~ .image_slider #img4,
#slider-span4:target ~ .image_slider #button-4{
    width: 270px;
    height: 320px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span5:target ~ .image_slider #img5,
#slider-span5:target ~ .image_slider #button-5{
    width: 270px;
    height: 280px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span1:target ~ .image_slider {left: 2%;}
#slider-span2:target ~ .image_slider {left: 1%;}
#slider-span3:target ~ .image_slider {left: 0%;}
#slider-span4:target ~ .image_slider {left: -1%;}
#slider-span5:target ~ .image_slider {left: -2%;}

/*fin du slider*/

.menu_container{
   display: flex;
   justify-content: center;
   position: relative;
   align-items: center;
   width: 80%;
   height: 100vh;
   /* border: 1px solid black; */
   left: 10%;
   top: 100px;
}
.dejeuner{
   display: flex;
   justify-content: center;
   align-items: center;
   left: 20px;
   margin: auto;
   width: 350px;
   height: 600px;
   /* border: 1px solid black; */
   border-radius: 6px 6px 6px 6px;
   box-shadow: 1px 1px 1px 1px rgb(219, 212, 212);
}
.dejeuner:hover{
   border-radius: 6px 6px 6px 6px;
   box-shadow: 2px 2px 2px 2px rgb(212, 210, 210);
   border: 10px solid rgb(245, 242, 242);
}
.titre{
   position: absolute;
   margin-top: -560px;
   font-size: 40px;
   font-weight: lighter;
   border-bottom: 1px solid rgb(197, 200, 201);
   text-shadow: 1px 1px 1px rgb(197, 189, 189);
   color: black;
   letter-spacing: 6px;
}
.menu{
   position: absolute;
   margin-top: -450px;
   font-size: 25px;
   font-weight: lighter;
   text-shadow: 1px 1px 1px rgb(197, 189, 189);
   color: black;
   letter-spacing: 1px;
}

.btn_header{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 65%;
   left: auto;
}
.btns{
   display: flex;
   justify-content: center;
   align-items: center;
   /* position: absolute; */
   padding:  20px 20px;
   margin: 0 10px;
   font-weight: lighter;
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px;
   letter-spacing: 1px;
   text-shadow: 1px 1px 1px rgb(197, 189, 189);
   border-radius: 50px 50px 50px 50px;
   border: none;
   background: none;
   color: white;
   border: 2px solid ;
}
.btns:hover{
   border: 5px solid rgb(255, 255, 255);
   background-color: none;

}

.cochable{
   margin-left: -30px;
   margin-top: 5px;
   width: 60px;
   height: 20px;
}
.bouffe{
   margin-top: -200px;
}
.form1{
   margin-top: 140px;
   height: 100px;
}
.formulaire{
   margin-top: 45px;
}
.formulaire1{
   margin-top: 46px;
   margin-left: 80px;
}
.formulaire2{
   margin-top: 46px;
   margin-left: 80px;
}
.icon{
   width: 110px;
   height: 110px;
   position: absolute;
   top: 75vh;
   
}



