/*GEUST HOUSE CSS*/
h5{
    display: flex;
    justify-content: center;
    top: 50%;
    left: 35%;
    position: absolute;
    font-size: 22px;
}
h6{
    justify-content: left;
    top: 2%;
    left: 4%;
    position: absolute;
    font-size: 18px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.8;
    text-shadow: 1px 1px 1px rgb(46, 45, 45);
}
p{
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;


}

/* ccs de nairobi*/

#n{
    top: 5px;
    left: 27.5%;
    height: 8vh;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 25px;
    font-size: 30px;
    border: 1px solid rgb(242, 245, 247);
    border-radius: 10px 10px 10px 10px;
}

.nairobi{
    width: 95%;
    height: 45vh;
    top: 20px;
    position: relative;
    box-shadow: none;

}

.chambre1{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 6px;
    left: 4%;
    box-shadow: 1px 1px 1px 1px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: contrast(80%);
}
.chambre1:hover{
    box-shadow: 5px 5px 5px 5px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: none;
}
.chambre1 .btnReserver1{
    left: 30%;
    top: 85%;
    position: absolute;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}
.chambre2{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 6px;
    left: 28%;
    box-shadow: 1px 1px 1px 1px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: contrast(80%);
}
.chambre2:hover{
    box-shadow: 5px 5px 5px 5px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: none;
}
.chambre2 .btnReserver2{
    left: 30%;
    top: 85%;
    position: absolute;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}
.chambre3{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 6px;
    left: 52%;
    box-shadow: 1px 1px 1px 1px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: contrast(80%);
}
.chambre3:hover{
    box-shadow: 5px 5px 5px 5px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: none;
}
.chambre3 .btnReserver3{
    left: 30%;
    top: 85%;
    position: absolute;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}
.chambre4{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 6px;
    left: 76%;
    box-shadow: 1px 1px 1px 1px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: contrast(80%);
}
.chambre4:hover{
    box-shadow: 5px 5px 5px 5px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: none;
}
.chambre4 .btnReserver4{
    left: 30%;
    top: 85%;
    position: absolute;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}


.conteneur-calendrier-hover1{
    position: relative;
    top: 30px;
    left: 90px;
    border: none;
    width: 12%;
    height: 24vh;
    padding: 20px 40px;
}
.conteneur-calendrier-hover1:hover{
    background: rgb(238, 238, 238);
}
.conteneur-calendrier-hover1 #btnValider1{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover1 #btnAnnuler1{
    left: 53%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover1 input{
    width: 100%;
    height: 5vh;
    margin: 0px 4px;
}
#btnValider1, #btnAnnuler1{
    display: none;
}



.conteneur-calendrier-hover2{
    position: relative;
    top: -162px;
    left: 400px;
    border: none;
    width: 12%;
    height: 24vh;
    padding: 20px 40px;
}
.conteneur-calendrier-hover2:hover{
    background: rgb(238, 238, 238);
}
.conteneur-calendrier-hover2 #btnValider2{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover2 #btnAnnuler2{
    left: 53%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover2 input{
    width: 100%;
    height: 5vh;
    margin: 0px 4px;
}
#btnValider2, #btnAnnuler2{
    display: none;
}



.conteneur-calendrier-hover3{
    position: relative;
    top: -356px;
    left: 710px;
    border: none;
    width: 12%;
    height: 24vh;
    padding: 20px 40px;
}
.conteneur-calendrier-hover3:hover{
    background: rgb(238, 238, 238);
}
.conteneur-calendrier-hover3 #btnValider3{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover3 #btnAnnuler3{
    left: 53%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover3 input{
    width: 100%;
    height: 5vh;
    margin: 0px 4px;
}
#btnValider3, #btnAnnuler3{
    display: none;
}


.conteneur-calendrier-hover4{
    position: relative;
    top: -549px;
    left: 1017px;
    border: none;
    width: 12%;
    height: 24vh;
    padding: 20px 40px;
}
.conteneur-calendrier-hover4:hover{
    background: rgb(238, 238, 238);
}
.conteneur-calendrier-hover4 #btnValider4{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover4 #btnAnnuler4{
    left: 53%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover4 input{
    width: 100%;
    height: 5vh;
    margin: 0px 4px;
}
#btnValider4, #btnAnnuler4{
    display: none;
}

#AreaNairobi{
    top: 1520px;
    width: 385px;
    left: 20%;
    position: absolute;
}
#enregistrer{
    position: absolute;
    top: 1550px;
    left: 50%;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}

/* fin ccs de nairobi*/
/*
@media all and (max-width: 1000px){
    header .conteneur .menus{
        width: 90%;
    }
}
*/

/* ccs de kinshassa*/

#k{
    top: -440px;
    left: 27.5%;
    height: 8vh;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 25px;
    font-size: 30px;
    border: 1px solid rgb(242, 245, 247);
    border-radius: 10px 10px 10px 10px;
}
.kinshasa{
    width: 95%;
    height: 45vh;
    top:-140px;
    left: -33.7%;
    position: relative;
    box-shadow: none;


}

.chambre5{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 6px;
    left: 4%;
    box-shadow: 1px 1px 1px 1px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: contrast(80%);
}
.chambre5:hover{
    box-shadow: 5px 5px 5px 5px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: none;
}
.chambre5 .btnReserver5{
    left: 30%;
    top: 85%;
    position: absolute;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}
.chambre6{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 6px;
    left: 28%;
    box-shadow: 1px 1px 1px 1px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: contrast(80%);
}
.chambre6:hover{
    box-shadow: 5px 5px 5px 5px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: none;
}
.chambre6 .btnReserver6{
    left: 30%;
    top: 85%;
    position: absolute;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}
.chambre7{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 6px;
    left: 52%;
    box-shadow: 1px 1px 1px 1px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: contrast(80%);
}
.chambre7:hover{
    box-shadow: 5px 5px 5px 5px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: none;
}
.chambre7 .btnReserver7{
    left: 30%;
    top: 85%;
    position: absolute;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}
.chambre8{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 6px;
    left: 76%;
    box-shadow: 1px 1px 1px 1px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: contrast(80%);
}
.chambre8:hover{
    box-shadow: 5px 5px 5px 5px rgb(141, 145, 145);
    border: 8px solid rgb(253, 253, 253);
    filter: none;
}
.chambre8 .btnReserver8{
    left: 30%;
    top: 85%;
    position: absolute;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}


.conteneur-calendrier-hover5{
    position: relative;
    top: 150px;
    left: 90px;
    border: none;
    width: 12%;
    height: 24vh;
    padding: 20px 40px;
}
.conteneur-calendrier-hover5:hover{
    background: rgb(238, 238, 238);
}
.conteneur-calendrier-hover5 #btnValider5{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover5 #btnAnnuler5{
    left: 53%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover5 input{
    width: 100%;
    height: 5vh;
    margin: 0px 4px;
}
#btnValider5, #btnAnnuler5{
    display: none;
}



.conteneur-calendrier-hover6{
    position: relative;
    top: -43px;
    left: 400px;
    border: none;
    width: 12%;
    height: 24vh;
    padding: 20px 40px;
}
.conteneur-calendrier-hover6:hover{
    background: rgb(238, 238, 238);
}
.conteneur-calendrier-hover6 #btnValider6{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover6 #btnAnnuler6{
    left: 53%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover6 input{
    width: 100%;
    height: 5vh;
    margin: 0px 4px;
}
#btnValider6, #btnAnnuler6{
    display: none;
}



.conteneur-calendrier-hover7{
    position: relative;
    top: -238px;
    left: 710px;
    border: none;
    width: 12%;
    height: 24vh;
    padding: 20px 40px;
}
.conteneur-calendrier-hover7:hover{
    background: rgb(238, 238, 238);
}
.conteneur-calendrier-hover7 #btnValider7{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover7 #btnAnnuler7{
    left: 53%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover7 input{
    width: 100%;
    height: 5vh;
    margin: 0px 4px;
}
#btnValider7, #btnAnnuler7{
    display: none;
}


.conteneur-calendrier-hover8{
    position: relative;
    top: -432px;
    left: 1017px;
    border: none;
    width: 12%;
    height: 24vh;
    padding: 20px 40px;
}
.conteneur-calendrier-hover8:hover{
    background: rgb(238, 238, 238);
}
.conteneur-calendrier-hover8 #btnValider8{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover8 #btnAnnuler8{
    left: 53%;
    top: 80%;
    position: absolute;
    width: 90px;
    height: 5vh;
    border: none;
    color: rgb(0, 0, 0);
}
.conteneur-calendrier-hover8 input{
    width: 100%;
    height: 5vh;
    margin: 0px 4px;
}
#btnValider8, #btnAnnuler8{
    display: none;
}

#AreaKinshasa{
    top: 2250px;
    width: 385px;
    left: 20%;
    position: absolute;
}
#enregistrer1{
    position: absolute;
    top: 2275px;
    left: 50%;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
}

/* fin ccs de kinshasa*/
/*
@media all and (max-width: 1000px){
    header .conteneur .menus{
        width: 90%;
    }
}
*/

/*debut du slider*/

.slide-container{
    top: -210px;
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

}
.image-slider{
    
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    top: 40px;
}
.slides-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px 0 30px;
}
.img{
    position: relative;
    width: 150px;
    height: 170px;
    transition: .5s;
    filter: saturate(5%);
    box-shadow: 1px 1px 1px 1px rgb(81, 81, 82);
    
}
.button{
    position: absolute;
    width: 200px;
    height: 370px;
    transition: .5s;
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), .4);

}
.button:hover{
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), .4);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span8:target ~ .image-slider #img8,
#slider-span8:target ~ .image-slider #button-8{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span9:target ~ .image-slider #img9,
#slider-span9:target ~ .image-slider #button-9{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span10:target ~ .image-slider #img10,
#slider-span10:target ~ .image-slider #button-10{
    width: 270px;
    height: 350px;
    background-color: transparent;
    filter: saturate(100%);
}

/*img position*/

#slider-span1:target ~ .image-slider {left: 25%;}
#slider-span2:target ~ .image-slider {left: 10%;}
#slider-span3:target ~ .image-slider {left: 0%;}
#slider-span4:target ~ .image-slider {left: -10%;}
#slider-span5:target ~ .image-slider {left: -20%;}
#slider-span6:target ~ .image-slider {left: -30%;}
#slider-span7:target ~ .image-slider {left: -40%;}
#slider-span8:target ~ .image-slider {left: -50%;}
#slider-span9:target ~ .image-slider {left: -60%;}
#slider-span10:target ~ .image-slider {left: -20%;}


/*fin css du slider*/

section{
    display: inline-block;
    width: 90%;
    height: 55vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
section form{
    top: -190px;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 20px 80px;
    padding: 25px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 16px;
    height: 100%;
    position: absolute;

}
section form:hover{
    border: 1px solid black;
    box-shadow: 0px 0px 1px 1px rgb(81, 81, 82);
}
.inputClass{
    margin: 2px 1px;
    padding: 7px 7px;
    display: flex;
    flex-direction: column;
    width: 10vw;
}
#btn-autres{
    width: 11vw;
    margin-left: 4px;
    display: none;
}
#btn-autres-clear{
    width: 11vw;
    margin-left: 4px;
}
#slide_1, #slide-2, #slide-3, #slide-4, #slide-5, 
#slide-6, #slide-7, #slide-8, #slide-9, #slide-10{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}



#a{
    top: -280px;
    left: 21%;
    height: 8vh;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 25px;
    font-size: 30px;
    border: 2px solid rgb(242, 245, 247);
    border-radius: 10px 10px 10px 10px;
}
#profit{
    top: -260px;
    left: -18px;
    position: relative;
}

/* mes png*/

.mesPng{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 10px 20px;
    align-items: center;
}
#imglogo{
    width: 27vw;
    height: 60vh;
    flex-direction: column;
    margin: -162px -20px;
    padding: 5px 20px;
    transition: 0.2s;
    overflow: hidden;
    
}